@charset "UTF-8";
* {
				padding: 0;
				margin: 0;
				border: 0;
}

*, *:before, *:after {
				moz-box-sizing: border-box;
				webkit-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;
}

:focus, :active {
				outline: none;
}

a:focus, a:active {
				outline: none;
}

nav, footer, header, aside {
				display: block;
}

html, body {
				height: 100%;
				width: 100%;
				font-size: 100%;
				line-height: 1;
				font-size: 14px;
				ms-text-size-adjust: 100%;
				moz-text-size-adjust: 100%;
				webkit-text-size-adjust: 100%;
}

input, button, textarea {
				font-family: inherit;
}

input::-ms-clear {
				display: none;
}

button {
				cursor: pointer;
}

button::-moz-focus-inner- {
				padding: 0;
				border: 0;
}

a, a:visited {
				text-decoration: none;
}

a:hover {
				text-decoration: none;
}

img {
				vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
				font-size: inherit;
				font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, a {
				font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
				position: relative;
}

header div {
				position: fixed;
				top: 0;
				background-color: #333;
				width: 100%;
}

.menu {
				list-style: none;
				font-size: 17px;
				padding-left: 485px;
}

.menu > li {
				display: inline-block;
				position: relative;
}

.menu > li > a {
				display: block;
				padding: 25px 20px;
				color: white;
				text-decoration: none;
}

.menu > li:hover > a {
				background-color: #444;
}

.submenu {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				background-color: #444;
				list-style: none;
				padding: 0;
				margin: 0;
				min-width: 160px;
}

.submenu li {
				display: block;
}

.submenu li a {
				display: block;
				padding: 10px 15px;
				color: white;
				text-decoration: none;
}

.submenu li a:hover {
				background-color: #555;
}

.menu > li:hover .submenu {
				display: block;
}

h1, h2 {
				margin: 100px 0;
				font-size: 50px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
}

.background {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url("../img/mainBackground.jpg");
				background-size: cover; /* Изображение покрывает весь экран */
				background-position: center; /* Центрирование изображения */
				background-repeat: no-repeat; /* Без повторения изображения */
				opacity: 0.2; /* Полупрозрачность изображения */
				z-index: -1; /* Фон позади всего содержимого */
}

.aboutproject {
				font-size: 30px;
				text-align: center;
				margin: 0 100px 0 100px;
				padding: 0 0 60px 0;
}

.aboutproject2 {
				font-size: 30px;
				width: 85%; /* или другая фиксированная ширина */
				margin: 0 auto 250px auto;
}

footer {
				position: relative;
				background-color: #7c7c7c;
				margin: 100px 0 0 0;
				width: 100%;
				height: 70px;
				z-index: 0;
}

.footerAgreement {
				margin: 0;
				padding: 20px 0 0 0;
				text-align: center;
				font-size: 16px;
				color: rgba(255, 255, 255, 0.68);
}

.footerLinks {
				padding: 0;
				margin: 10px 0 0 0;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
}

.footerLinks a {
				text-decoration-line: underline;
				color: rgba(255, 255, 255, 0.93);
				padding: 0 7px 0 0;
}

.village h3, h4, p {
				padding: 0 0 0 120px;
}

.village h3, h4 {
				margin: 40px 0 15px 0;
}

.village h3 {
				font-size: 30px;
}

.village h4 {
				font-size: 22px;
				text-decoration: underline;
}

.village p {
				font-size: 20px;
}

.village a {
				color: #0407a1;
}

.mapName {
				padding: 0;
				margin: 20px 0 5px 0;
				text-align: center;
				text-decoration: underline;
}

.map {
				width: 45%;
				height: 400px;
				margin-left: auto;
				margin-right: auto;
}

.village p:last-child {
				margin-top: 45px;
				font-size: 17px;
}

.contactsBackground {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url("../img/contactsBackground2.jpg");
				background-size: cover; /* Изображение покрывает весь экран */
				background-position: center; /* Центрирование изображения */
				background-repeat: no-repeat; /* Без повторения изображения */
				opacity: 0.2; /* Полупрозрачность изображения */
				z-index: -1; /* Фон позади всего содержимого */
}

.contacts h1 {
				padding-top: 80px;
}

p.contacts {
				padding-left: 0;
				margin-left: 300px;
				margin-right: 350px;
				text-align: center;
				font-size: 19px;
				margin-bottom: 100px;
}

ul.contacts {
				font-size: 19px;
				line-height: 25px;
				margin-bottom: 82px;
				text-align: center;
}

.pinAfter {
				display: none;
}

.contacts li:hover {
				text-decoration: underline;
				font-weight: 900;
}
.contacts li:hover .pinBefore {
				display: none;
}
.contacts li:hover .pinAfter {
				display: inline;
}

.contacts a {
				font-size: 16px;
}

.bodyContact {
				overflow: hidden;
}

.autor {
				padding-left: 0;
				margin-left: 300px;
				margin-right: 350px;
				text-align: center;
				font-size: 19px;
				margin-bottom: 100px;
}

.archive {
				padding-left: 0;
				margin-left: 0;
				text-align: center;
}

.archive span {
				display: inline-block;
				padding-left: 0;
				margin-left: 0;
				width: 100%;
}

.archive_block p {
				display: inline;
				margin-left: 45px;
}

.h1_gallery {
				margin-top: 300px;
				margin-bottom: 440px;
				font-size: 44px;
}

.bodyGallery {
				overflow: hidden;
}

#photoBurk {
				margin-left: 130px;
}